{% load i18n %}
<section class="tm-logobar">
  <div class="tm-container">
    <div class="tm-logobar__head">
      <span class="tm-eyebrow">{% trans "В переговорах с" %}</span>
    </div>
    <div class="tm-logobar__row tm-reveal">
      <div class="tm-uni-word tm-uni-word--anchor">
        <div class="tm-uni-word__name">НИУ ВШЭ</div>
        <div class="tm-uni-word__sub">{% trans "Anchor · СПб + Москва" %}</div>
      </div>
      <div class="tm-uni-word">
        <div class="tm-uni-word__name">МГУ</div>
        <div class="tm-uni-word__sub">{% trans "Москва" %}</div>
      </div>
      <div class="tm-uni-word">
        <div class="tm-uni-word__name">СПбГУ</div>
        <div class="tm-uni-word__sub">{% trans "Санкт-Петербург" %}</div>
      </div>
      <div class="tm-uni-word">
        <div class="tm-uni-word__name">МФТИ</div>
        <div class="tm-uni-word__sub">{% trans "Долгопрудный" %}</div>
      </div>
      <div class="tm-uni-word">
        <div class="tm-uni-word__name">ИТМО</div>
        <div class="tm-uni-word__sub">{% trans "Санкт-Петербург" %}</div>
      </div>
      <div class="tm-uni-word">
        <div class="tm-uni-word__name">УрФУ</div>
        <div class="tm-uni-word__sub">{% trans "Екатеринбург" %}</div>
      </div>
    </div>
  </div>
</section>
