{% load copy_tags %}
<section class="tm-logobar">
  <div class="tm-container">
    <div class="tm-logobar__head">
      <span class="tm-eyebrow">{% c "logobar.eyebrow" %}</span>
    </div>
    <div class="tm-logobar__row tm-reveal">
      <div class="tm-uni-word tm-uni-word--anchor">
        <div class="tm-uni-word__name">{% if LANGUAGE_CODE == 'en' %}HSE University{% else %}НИУ ВШЭ{% endif %}</div>
        <div class="tm-uni-word__sub">{% c "logobar.hse.sub" %}</div>
      </div>
      <div class="tm-uni-word">
        <div class="tm-uni-word__name">{% if LANGUAGE_CODE == 'en' %}MSU{% else %}МГУ{% endif %}</div>
        <div class="tm-uni-word__sub">{% c "logobar.msu.sub" %}</div>
      </div>
      <div class="tm-uni-word">
        <div class="tm-uni-word__name">{% if LANGUAGE_CODE == 'en' %}SPbU{% else %}СПбГУ{% endif %}</div>
        <div class="tm-uni-word__sub">{% c "logobar.spbu.sub" %}</div>
      </div>
      <div class="tm-uni-word">
        <div class="tm-uni-word__name">{% if LANGUAGE_CODE == 'en' %}MIPT{% else %}МФТИ{% endif %}</div>
        <div class="tm-uni-word__sub">{% c "logobar.mipt.sub" %}</div>
      </div>
      <div class="tm-uni-word">
        <div class="tm-uni-word__name">ITMO</div>
        <div class="tm-uni-word__sub">{% c "logobar.itmo.sub" %}</div>
      </div>
      <div class="tm-uni-word">
        <div class="tm-uni-word__name">{% if LANGUAGE_CODE == 'en' %}UrFU{% else %}УрФУ{% endif %}</div>
        <div class="tm-uni-word__sub">{% c "logobar.urfu.sub" %}</div>
      </div>
    </div>
  </div>
</section>
